@import '~stream-chat-react/dist/css/v2/index.css';

:root {
    --primary-color: #36393e;
    --primary-color-alpha: #36393e1a;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  #root {
    height: 100%;
  }
  
  .auth__form-container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .auth__form-container_fields {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    padding: 2rem;
    background:  	#36393e;
  }
  
  .auth__form-container_image {
    flex: 3;
    display: flex;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.05);
  }
  
  .auth__form-container_image img {
    width: 100%;
    height: 100%;
  }
  
  .auth__form-container_fields-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  
    padding: 2rem;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 10%);
    border-radius: 5px;
    transition: 0.8s ease;
    background: #3d3f43;
  }
  
  .auth__form-container_fields-content p {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: 900;
  }

  .auth__form-container_fields-content-error p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #e4e5e7;
    font-weight: 600;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  
  .auth__form-container_fields-content_input {
    display: flex;
    flex-direction: column;
    position: relative;
  
    margin: 1rem 0rem;
  }
  
  .auth__form-container_fields-content_input label {
    margin-bottom: 0.45rem;
    color: #e4e5e7;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.7px;
    line-height: 1.3;
  }
  
  .auth__form-container_fields-content_input input {
    padding: 0.55rem 0.4rem;
    border: 1px solid #282b30;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    transition: all 150ms ease-in-out 0s;
    width: 85%;
    color: #ffffff;
    background: #282b30;
  }
  
  .auth__form-container_fields-content_input input::placeholder {
    color: #b1b1b1;
    width: 100%;
    font-weight: unset;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .auth__form-container_fields-content_input input:hover {
    border-color: #dcdddd;
  }
  
  .auth__form-container_fields-content_input input:focus,
  .auth__form-container_fields-content_input input:active {
    box-shadow: 0px 0px 0px 1.5px #a1a5aa;
    border-color: #a1a5aa;
  }
  
  .auth__form-container_fields-content_input-password {
    position: absolute;
    right: 13%;
    top: 50%;
    cursor: pointer;
  }
  
  .auth__form-container_fields-content_button {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
  }
  
  .auth__form-container_fields-content_button button {
    border-radius: 4px;
    background: #7289da;
    border: 1px solid #7289da;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 0.7rem 1.2rem;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .auth__form-container_fields-content_button button:hover {
    background: #5e77d4;
  }
  
  .auth__form-container_fields-account {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
    margin-top: 0.2rem;
  }
  
  .auth__form-container_fields-account p {
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
  }
  
  .auth__form-container_fields-account span {
    color: #7289da;
    cursor: pointer;
    font-weight: 700;
  }
  
  @media screen and (max-width: 800px) {
    .auth__form-container {
      flex-direction: column-reverse;
    }
  
    .auth__form-container_fields {
      justify-content: flex-start;
    }
  
    .auth__form-container_image {
      height: 100px;
      flex: none;
      box-shadow: none;
    }
  
    .auth__form-container_image img {
      object-fit: cover;
    }
  }
  
  @media screen and (max-width: 375px) {
    .auth__form-container_fields {
      padding: 2rem 0.5rem;
    }
  
    .auth__form-container_fields-content_input input {
      width: 95%;
    }
  
    .auth__form-container_fields-content_input-password {
      right: 3%;
    }
  }
  
  .app__wrapper {
    display: flex;
    flex: 1;
    /* height: 800px; */
    height: 100%;
    /* border-radius: 16px; */
    box-shadow: rgba(0, 0, 0, 0.33) 0px 1px 4px 0px;
  }

  .str-chat {
    /* global variables */
    --str-chat__primary-color: #36393e;
    --str-chat__active-primary-color: #36393e;
    --str-chat__background-color: #3d3f43;
    --str-chat__secondary-background-color: #36393e;
    --str-chat__surface-color: #3d3f43;
    --str-chat__secondary-surface-color: #3d3f43;
    --str-chat__primary-surface-color: #3d3f43;
    --str-chat__primary-surface-color-low-emphasis: #3d3f43;
    --str-chat__text-color: #f2f2f3;
    --str-chat__text-low-emphasis-color: #aeb1b7;
    --str-chat__danger-color: #df2020;

    /* message component */
    --str-chat__message-color: #3d3f43;
    --str-chat__message-bubble-color: #3d3f43;
    --str-chat__message-bubble-background-color: #f2f2f3;
    --str-chat__own-message-bubble-color: #3d3f43;
    --str-chat__own-message-bubble-background-color: #f2f2f3;
    --str-chat__quoted-message-bubble-background-color: #d7d8db;
    --str-chat__deleted-message-background-color: #5f646d;
    --str-chat__message-replies-count-color: #e4e5e7;
    --str-chat__message-options-color: #e4e5e7;
    --str-chat__message-options-active-color: #36393e;
    --str-chat__message-options-hover-background-color: #777d88;
    --str-chat__system-message-color: #94979e;
    --str-chat__message-link-color: #3d3f43;

    /* message input component */
    --str-chat__message-input-color: #e4e5e7;
    --str-chat__message-textarea-color: #e4e5e7;
    --str-chat__message-send-color: #e4e5e7;
    --str-chat__message-send-disabled-color: #e4e5e7;
    --str-chat__message-input-tools-color: #e4e5e7;
    --str-chat__message-textarea-background-color: #474b52;

    /* message actions component */
    --str-chat__message-actions-box-item-color: #ffffff;
    --str-chat__message-actions-box-background-color: #36393e;

    /* message reactions component */
    --str-chat__message-reactions-color: #bcbec2;
    --str-chat__message-reaction-color: #bcbec2;
    --str-chat__own-message-reaction-color: #bcbec2;
    --str-chat__own-message-reaction-background-color: #b3b5ff;
    --str-chat__message-reaction-background-color: #bcbec2;

    /* thread component */
    --str-chat__thread-color: #e4e5e7;
    --str-chat__thread-header-color: #e4e5e7;

    /* edit message form component */
    --str-chat__edit-message-modal-send-button-color: #e4e5e7;
    --str-chat__edit-message-modal-cancel-button-color: #c9cbcf;

    /* channel list component */
    --str-chat__channel-list-color: #f2f2f3;
    --str-chat__channel-list-load-more-color: #f2f2f3;
    --str-chat__channel-list-empty-indicator-color: #c9cbcf;

  }

  .str-chat__avatar {
    font-family: Helvetica Neue, sans-serif;
    color: #f2f2f3;
    margin-right: 10px;
    background: #36393e;
    border-radius: 50%;
    outline: 1px solid rgba(175, 178, 182, 0.2);

  }

  .str-chat__channel-list-empty-v1 {
    color: #36393e;
    user-select: none;
  }
  
  .channel-empty__container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
  }
  
  .channel-empty__avatars {
    display: flex;
  }
  
  .channel-empty__avatars div:first-child {
    z-index: 3;
  }
  
  .channel-empty__avatars div:nth-child(2) {
    position: relative;
    right: 32px;
    z-index: 2;
  }
  
  .channel-empty__avatars div:nth-child(3) {
    position: relative;
    right: 64px;
    z-index: 1;
  }
  
  .channel-empty__first {
    font-family: Helvetica Neue, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    color: #e4e5e7;
    margin-bottom: 10px;
  }
  
  .channel-empty__first .channel-empty__user-name {
    color: var(--primary-color);
  }
  
  .channel-empty__second {
    font-family: Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 120%;
    margin: 0;
    color: #e4e5e7;
  }
  
  .channel__container {
    height: 100%;
    width: 100%;
    background:  	#3d3f43;
  }
  
  .channel-list__container {
    display: flex;
    height: 100%;
    box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.1);
  }
  
  .channel-list__sidebar {
    width: 72px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      var(--primary-color);
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.25);
  }
  
  .channel-list__sidebar__icon1 {
    width: 44px;
    height: 44px;
    margin: 14px;
    background: linear-gradient(
        150.64deg,
        rgba(0, 0, 0, 0.15) 12.73%,
        rgba(0, 0, 0, 0) 89.32%
      ),
      #7289da;
    border-radius: 9999px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.33);
  }

  .channel-list__sidebar__icon2 {
    width: 44px;
    height: 44px;
    margin: 14px;
    background: linear-gradient(
        150.64deg,
        rgba(0, 0, 0, 0.15) 12.73%,
        rgba(0, 0, 0, 0) 89.32%
      ),
      #7289da;
    border-radius: 9999px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.33);
    cursor: pointer;
  }

  .icon__inner {
    font-family: Helvetica Neue, sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon__inner:hover {
    background: linear-gradient(
        150.64deg,
        rgba(0, 0, 0, 0.25) 12.73%,
        rgba(0, 0, 0, 0.15) 89.32%
      ),
      #7289da;
    border-radius: 9999px;
  }
  
  .channel-list__list__wrapper {
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    width: 280px;
  }
  
  .channel-list__header {
    padding-left: 16px;
    height: 62px;
  }
  
  .channel-list__header__text {
    font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
  }
  
  .channel-search__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    border-top: 1px solid #00000033;
  }
  
  .channel-search__input__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    margin-bottom: 8px;
    border: 1px solid transparent;
    width: 95%;
  }
  
  .channel-search__input__wrapper:focus-within {
    border: 1px solid #a1a5aa;
  }
  
  .channel-search__input__icon {
    width: 32px;
    display: flex;
    justify-content: center;
  }
  
  .channel-search__input__text {
    background: none;
    border: none;
    color: #fff;
    font-family: Helvetica Neue, sans-serif;
    font-size: 16px;
    outline: none;
  }
  
  ::placeholder {
    color: rgba(255, 255, 255, 0.66);
    white-space: nowrap;
    width: 150px;
  }
  
  .channel-search__results {
    position: absolute;
    height: fit-content;
    width: 300px;
    background: #3d3f43;
    border: 1px solid #a1a5aa;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    z-index: 10;
    left: 230px;
    top: 16px;
  }
  
  .channel-search__results-header {
    width: fit-content;
    display: flex;
    align-items: center;
    font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #c9cccf;
    margin-left: 12px;
  }
  
  .channel-search__results-header i {
    font-weight: normal;
    margin-left: 12px;
  }
  
  .channel-search__result-container {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
  }
  
  .channel-search__result-container__focused {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    background: var(--primary-color-alpha);
  }
  
  .channel-search__result-container:hover {
    background: var(--primary-color-alpha);
    cursor: pointer;
  }
  
  .channel-search__result-user {
    display: flex;
    align-items: center;
    margin-left: 12px;
  }
  
  .result-hashtag {
    height: 24px;
    width: 28px;
    background: var(--primary-color);
    border-radius: 24px;
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica Neue, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    color: #c9cccf;
  }
  
  .channel-search__result-text {
    width: 100%;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #c9cccf;
  }
  
  .create-channel__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .create-channel__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    padding-right: 20px;
  }
  
  .create-channel__header p {
    font-family: Helvetica Neue, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    margin-left: 20px;
  }
  
  .create-channel__header svg {
    cursor: pointer;
  }
  
  .channel-name-input__wrapper {
    display: flex;
    flex-direction: column;
    height: 169px;
    padding-left: 20px;
  }

  .channel-name-input__label {
    font-family: Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 120%;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .channel-name-input__wrapper p {
    font-family: Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 120%;
    color: #ffffff;
    margin-top: 30px;
  }
  
  .channel-name-input__wrapper input {
    font-family: Helvetica Neue, sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    height: 50px;
    width: 540px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 8px;
    padding-left: 16px;
  }
  
  .channel-name-input__wrapper input:focus {
    border: 1px solid var(--primary-color);
    outline: none;
  }
  
  .channel-name-input__wrapper input::placeholder {
    font-weight: 300;
    color: #ffffff;
  }
  
  .create-channel__button-wrapper {
    height: 82px;
    background: #3d3f43;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom-right-radius: 16px;
  
    padding: 0px 10px;
  }
  
  .create-channel__button-wrapper p {
    font-family: Helvetica Neue, sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    background: #7289da;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
  }

  .create-channel__button-wrapper__inactive {
    height: 82px;
    background: #3d3f43;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom-right-radius: 16px;
    padding: 0px 10px;
  }
  
  .create-channel__button-wrapper__inactive p {
    background: var(--primary-color);
    font-family: Helvetica Neue, sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 8px;
    cursor: not-allowed;
  }
  
  .user-list__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .user-list__header {
    display: flex;
    align-items: center;
    margin: 0px 20px;
    justify-content: space-between;
  }
  
  .user-list__header p {
    font-family: Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    margin-top: 16px;
  }
  
  .user-list__header p:first-child {
    flex: 2;
  }
  
  .user-list__header p:nth-child(2) {
    flex: 0.5;
    text-align: right;
    margin: 0px 20px;
  }
  
  .user-list__message {
    font-family: Helvetica Neue, sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin: 20px;
  }
  
  .user-item__wrapper {
    display: flex;
    align-items: center;
    margin: 0px 20px;
    justify-content: space-between;
    padding-right: 20px;
  }
  
  .user-item__wrapper:hover {
    background: #94989e;
    cursor: pointer;
  }
  
  .user-item__name-wrapper {
    display: flex;
    align-items: center;
    flex: 2;
    text-align: left;
    color: #f2f2f3;
  }
  
  .user-item__wrapper p {
    font-family: Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #f2f2f3;
    word-break: break-all;
  }
  
  .user-item__name {
    font-weight: 500;
  }
  
  .user-item__last-active {
    font-weight: 400;
    width: 30%;
    flex: 0.5;
    text-align: right;
  
    margin: 0px 20px;
  }
  
  .user-item__invite-empty {
    height: 28px;
    width: 28px;
    background: #797f86;
    border: 1px solid #61656b;
    border-radius: 14px;
    box-sizing: border-box;
    margin-left: 2px;
  }
  
  .edit-channel__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .edit-channel__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    padding-right: 20px;
  }
  
  .edit-channel__header p {
    font-family: Helvetica Neue, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    margin-left: 20px;
  }
  
  .edit-channel__header svg {
    cursor: pointer;
  }
  
  .channel-name-input__wrapper {
    display: flex;
    flex-direction: column;
    height: 169px;
    padding-left: 20px;
  }
  
  .channel-name-input__wrapper p {
    font-family: Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 120%;
    color: #ffffff;
    margin-top: 30px;
  }
  
  .channel-name-input__wrapper input {
    font-family: Helvetica Neue, sans-serif;
    font-size: 18px;
    color: #ffffff;
    height: 50px;
    width: 90%;
    background: #797f86;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 8px;
    padding-left: 16px;
  }
  
  .channel-name-input__wrapper input:focus {
    border: 1px solid var(--primary-color);
    outline: none;
  }
  
  .channel-name-input__wrapper input::placeholder {
    font-weight: 300;
    color: #ffffff;
  }

  .edit-channel__label {
    font-family: Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 120%;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 0px;
    height: 120px;
    padding-left: 20px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .edit-channel__button-wrapper {
    height: 82px;
    background: #3d3f43;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom-right-radius: 16px;
  }
  
  .edit-channel__button-wrapper p {
    font-family: Helvetica Neue, sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    color: #ffffff;
    margin-right: 30px;
    border-radius: 8px;
    cursor: pointer;
  }

  .edit-channel__button-leave {
    background: #df2020;
  }

  .edit-channel__button-update {
    background: #7289da;
  }
  
  .team-channel-header__container {
    position: relative;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #3d3f43;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 16px;
    z-index: 1;
  }
  
  .team-channel-header__channel-wrapper {
    display: flex;
    align-items: center;
  }
  
  .team-channel-header__channel-wrapper svg {
    cursor: pointer;
  }
  
  .team-channel-header__name {
    font-family: Helvetica Neue, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    margin-right: 8px;
  }
  
  .team-channel-header__name-wrapper {
    flex: 3;
    display: flex;
    align-items: center;
    overflow-x: auto;
    max-width: 500px;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  @media screen and (min-width: 1070px) {
    .team-channel-header__name-wrapper {
      max-width: 700px;
    }
  }
  
  .team-channel-header__name-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  .team-channel-header__name-multi {
    display: flex;
    align-items: center;
    margin-right: 8px;
  }
  
  .team-channel-header__name-multi:nth-child(3) {
    margin-right: 0px;
  }
  
  .team-channel-header__name.user {
    font-weight: 500;
    font-size: 14px;
  }
  
  .team-channel-header__right {
    flex: 0.55;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
  }
  
  .team-channel-header__right-pin-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .team-channel-header__right svg {
    margin-left: 16px;
    margin-right: 4px;
  }
  
  .team-channel-header__right-text {
    font-family: Helvetica Neue, sans-serif;
    font-size: 14px;
    color: #a1a5aa;
  }
  
  .team-channel-list {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .team-channel-list__message {
    color: #a1a5aa;
    padding: 0 16px;
  }
  
  .team-channel-list__message.loading {
    height: 115px;
  }
  
  .team-channel-list__header {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .team-channel-list__header svg {
    cursor: pointer;
  }
  
  .team-channel-list__header__title {
    font-family: Helvetica Neue, sans-serif;
    font-size: 13px;
    line-height: 16px;
    height: 16px;
    color: rgba(175, 178, 182, 0.8);
    margin-bottom: 10px;
  }
  
  .channel-preview__wrapper {
    height: 40px;
    display: flex;
    align-items: center;
  }
  
  .channel-preview__wrapper__selected {
    height: auto;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bold;
    margin-right: 16px;
    cursor: pointer;
    z-index: 2;
  }
  
  .channel-preview__wrapper:hover {
    background: rgba(0, 0, 0, 0.2);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bold;
    margin-right: 16px;
    cursor: pointer;
  }
  
  .channel-preview__item {
    display: flex;
    align-items: center;
    font-family: Helvetica Neue, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 0px 20px;
    height: 100%;
    width: 100%;
    text-overflow: ellipsis;
    word-break: break-all;
  }
  
  .channel-preview__item.multi {
    max-width: 220px;
  }
  
  .channel-preview__item.multi span:first-child {
    position: relative;
    z-index: 2;
    bottom: 6px;
  }
  
  .channel-preview__item.multi div:nth-child(2) {
    position: relative;
    right: 10px;
    z-index: 1;
    margin-bottom: 0px;
  }
  
  .channel-preview__item.multi p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }  
  
  .icon-divider {
    width: 1px;
    height: 40px;
    background: #a1a5aa;
  }
  
  .channel-list__container-responsive {
    display: none;
    height: 100%;
    box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 90%;
    top: 0%;
    z-index: 5;
    transition: 0.8s ease;
  }
  
  @media screen and (max-width: 960px) {
    .channel-list__container {
      display: none;
    }
  
    .team-channel-header_menu-icon {
      display: flex;
    }
  
    .team-channel-header__container {
      height: 70px;
    }
  
    .team-channel-header__name-wrapper {
      height: 100%;
      max-width: unset;
    }
  
    .team-channel-header__name-multi {
      margin-right: 8px;
      align-items: center;
      flex-direction: column;
    }
  
    .team-channel-header__name.user {
      font-size: 10px;
      margin: 5px;
      text-align: center;
    }
  
    .team-channel-header__right {
      display: flex;
      padding-left: 10px;
    }
  
    .channel-list__container-responsive {
      display: flex;
    }
  
    .channel-list__list__wrapper {
      width: 100%;
    }
  
    .channel-list__container-toggle {
      display: flex;
    }
  
    .channel-search__input__wrapper {
      width: 90%;
      padding-left: 10px;
      justify-content: flex-start;
    }
  
    .channel-search__input__text {
      width: inherit;
    }
  
    .channel-preview__item.multi {
      width: 80%;
    }
  
    .channel-search__results {
      top: 100%;
      left: 5%;
    }
  }
  
  @media screen and (max-width: 650px) {
    .channel-list__container-toggle {
      right: -3%;
    }
  }
  
  @media screen and (max-width: 400px) {
    .channel-preview__item.multi {
      width: 150px;
    }
  
    .channel-list__container-toggle {
      right: -5%;
    }
  }
  
  @media screen and (max-width: 320px) {
    .channel-list__sidebar {
      display: none;
    }
  }
  